.notification {
  position: fixed;
  bottom:20px;
  left:10px;
  margin-left: 50px;
  display: block;
  opacity:0;
  background:#121629;
  padding: 10px;
  border-radius: 10px;
  width: 180px;
  text-align: center;
  z-index:999;
}
