.aim-block {
    display: flex;
    flex-direction:column;
    margin: 20px;
    width: 155px;
    border:2px solid white;
    border-radius: 10px 10px 0px 0px;
}


.aim-img {
    min-width: 100%;
    height: 150px;
    border-radius: 10px 10px 0px 0px;
}

.aim-description {
    text-align: center;
    background:var(--background-texto);
    color: var(--cor-texto-mira);
    font-family: "Rowdies";
    font-weight: 300;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copy-img {
    margin-top: 5px;
    margin-right: 5px;
    width:40px;
    position: absolute;
    align-self: flex-end;
}

.copy-img:hover {
    transform: scale(1.3)
}